<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.epp.internal.logging.aeri.ui.Startup"></startup>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.epp.internal.logging.aeri.ui.model.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="org.eclipse.epp.logging.aeri.ui.preferencePages.preference"
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.epp.internal.logging.aeri.ui.PreferencePage"
            name="Error Reporting">
      </page>
   </extension>
   <!-- notifications: category -->
   <!-- notifications: sink -->
   <extension
         point="org.eclipse.mylyn.commons.notifications.ui.notifications">
      <category
            id="org.eclipse.epp.logging.aeri.notifications.category"
            label="Error Reporting">
      </category>
      <sink
            id="org.eclipse.epp.logging.aeri.notifications.sink.popup"
            class="org.eclipse.epp.internal.logging.aeri.ui.notifications.PopupNotificationSink"
            label="Desktop Popup (Errors)">
      </sink>
      <event
            categoryId="org.eclipse.epp.logging.aeri.notifications.category"
            id="org.eclipse.epp.logging.aeri.notifications.event.configure"
            label="Configure">
         <defaultHandler
               sinkId="org.eclipse.epp.logging.aeri.notifications.sink.popup">
         </defaultHandler>
      </event>
      <event
            categoryId="org.eclipse.epp.logging.aeri.notifications.category"
            id="org.eclipse.epp.logging.aeri.notifications.event.response"
            label="Upload Response">
         <defaultHandler
               sinkId="org.eclipse.epp.logging.aeri.notifications.sink.popup">
         </defaultHandler>
      </event>
      <event
            categoryId="org.eclipse.epp.logging.aeri.notifications.category"
            id="org.eclipse.epp.logging.aeri.notifications.event.newReport"
            label="New event logged">
         <defaultHandler
               sinkId="org.eclipse.epp.logging.aeri.notifications.sink.popup">
         </defaultHandler>
      </event>
      <event
            categoryId="org.eclipse.epp.logging.aeri.notifications.category"
            id="org.eclipse.epp.logging.aeri.notifications.event.response.moreInfo"
            label="More info requested">
         <defaultHandler
               sinkId="org.eclipse.epp.logging.aeri.notifications.sink.popup">
         </defaultHandler>
      </event>
      <event
            categoryId="org.eclipse.epp.logging.aeri.notifications.category"
            icon="icons/obj16/asterisk_orange.png"
            id="org.eclipse.epp.logging.aeri.notifications.event.needinfo"
            label="You've hit a known bug!">
         <defaultHandler
               sinkId="org.eclipse.epp.logging.aeri.notifications.sink.popup">
         </defaultHandler>
      </event>
      <event
            categoryId="org.eclipse.epp.logging.aeri.notifications.category"
            icon="icons/obj16/database_refresh.png"
            id="org.eclipse.epp.logging.aeri.notifications.event.fixed"
            label="You've hit a fixed bug!">
         <defaultHandler
               sinkId="org.eclipse.epp.logging.aeri.notifications.sink.popup">
         </defaultHandler>
      </event>
   </extension>
   <!-- notifications: events -->
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aeri -->
      <package
            uri="http://eclipse.org/epp/logging/aeri"
            class="org.eclipse.epp.internal.logging.aeri.ui.model.ModelPackage"
            genModel="models/aeri.genmodel"/>
   </extension>

</plugin>
