<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.epp.internal.logging.aeri.ui.LogListener"></startup>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.epp.internal.logging.aeri.ui.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="org.eclipse.epp.logging.aeri.ui.preferencePages.preference"
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.epp.internal.logging.aeri.ui.PreferencePage"
            name="Error Reporting">
      </page>
   </extension>
</plugin>
